.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
}

img {
  width: 250px;
  height: 250px;
}

.mb-3 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.me-3 {
  margin-right: 10px;
}

.btn-primary {
  background-color: #001f3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #004080;
}
