.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
}

IM

.img-fluid {
  width: 150px;
  height: 250px;
}

.mb-3 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.me-3 {
  margin-right: 10px;
}
